<style>
/* change cover_img in config.yml */
.jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.jumbotron-btns {
  display: block;
  margin-top: 50px;
}

.jumbotron-heading, .lead {
  color: #fff;
}
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img class="author-profile-img" src="{{ site.baseurl }}/assets/img/{{site.author_logo}}" alt="{{ site.title }}" />
  <p class="jumbotron-heading">{{ site.title }}</p>
  <p class="lead">{{ site.description }}</p>
</div>
